.sidebar{ /*bg menu*/
	background: #283593;
}
.navbar .navbar-brand-wrapper{ /*bg sim kkn*/
	background: #1a237e;
}
.navbar{ /*bg header*/
	background: #283593;
}
.sidebar .nav .nav-item .nav-link{ /*color text menu*/
	color: #fff;
}
.sidebar .nav .nav-item .nav-link i{ /*color icon text menu*/
	color: #fff;
}
.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-profile) > *{ /*bg dan color menu saat hover*/
	background:#3949ab;
  color: #fff;
}
.sidebar .nav .nav-item.active > .nav-link { /*text menu saat aktif*/
	color: #fff;
}
.sidebar .nav .nav-item.active{ /*bg menu saat aktif*/
	background: #000;
}
.navbar .navbar-menu-wrapper{ /*text color header*/
	color: #fff;
}
.sidebar .nav .nav-item .nav-link[aria-expanded="true"]{ /*bg menu aktif collapse*/
	background: #000;
}
.sidebar .nav .nav-item .collapse.show, .sidebar .nav .nav-item .collapsing { /*bg submenu collapse*/
 	background: #000;
}
.sidebar .nav.sub-menu .nav-item .nav-link.active{ /*color tex submenu aktif*/
	color: #fff;
}
.sidebar .nav.sub-menu .nav-item .nav-link{ /*color submenu*/
	color: #ffca28;
}
.sidebar .nav .nav-item .nav-link:hover{
	color: red;
}