.sidebar{ /*bg menu*/
	background: #651fff;
}
.navbar .navbar-brand-wrapper{ /*bg sim kkn*/
	background: #512da8;
}
.navbar{ /*bg header*/
	background: #673ab7;
}
.sidebar .nav .nav-item .nav-link{ /*color text menu*/
	color: #fff;
}
.sidebar .nav .nav-item .nav-link i{ /*color icon text menu*/
	color: #fff;
}
.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-profile) > .nav-link{ /*bg dan color menu saat hover*/
	background:#00b0ff;
  color: #f0f4c3;
}
.sidebar .nav .nav-item.active > .nav-link { /*text menu saat aktif*/
	color: white;
}
.sidebar .nav .nav-item.active{ /*bg menu saat aktif*/
	background: #4527a0;
}
.navbar .navbar-menu-wrapper{ /*text color header*/
	color: #fff;
}
.sidebar .nav .nav-item .nav-link[aria-expanded="true"]{
	
}