.sidebar{ /*bg menu*/
	background: #a1887f;
}
.navbar .navbar-brand-wrapper{ /*bg sim kkn*/
	background: #5d4037;
}
.navbar{ /*bg header*/
	background: #795548;
}
.sidebar .nav .nav-item .nav-link{ /*color text menu*/
	color: #fff;
}
.sidebar .nav .nav-item .nav-link i{ /*color icon text menu*/
	color: #fff;
}
.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-profile) > .nav-link{ /*bg dan color menu saat hover*/
	background:#d7ccc8;
  color: #3e2723;
}
.sidebar .nav .nav-item.active > .nav-link { /*text menu saat aktif*/
	color: #3e2723;
}
.sidebar .nav .nav-item.active{ /*bg menu saat aktif*/
	background: #bcaaa4;
}
.navbar .navbar-menu-wrapper{ /*text color header*/
	color: #fff;
}
.sidebar .nav .nav-item .nav-link[aria-expanded="true"]{
	
}