.sidebar{ /*bg menu*/
	background: #ffecb3;
}
.navbar .navbar-brand-wrapper{ /*bg sim kkn*/
	background: #ffb300;
}
.navbar{ /*bg header*/
	background: #ffe082;
}
.sidebar .nav .nav-item .nav-link{ /*color text menu*/
	color: #b71c1c;
}
.sidebar .nav .nav-item .nav-link i{ /*color icon text menu*/
	color: #b71c1c;
}
.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-profile) > .nav-link{ /*bg dan color menu saat hover*/
	background:#ffccbc;
  color: #f57c00;
}
.sidebar .nav .nav-item.active > .nav-link { /*text menu saat aktif*/
	color: #ef6c00;
}
.sidebar .nav .nav-item.active{ /*bg menu saat aktif*/
	background: #ffcc80;
}
.navbar .navbar-menu-wrapper{ /*text color header*/
	color: #bf360c;
}