.maxBlack {
    background: #000000e3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: none;
    overflow: auto;
}

.mod-middle{
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
}

.mod-submiddle {
    vertical-align: middle;
    display: table-cell;
}

.ul {
	counter-reset: my-badass-counter;
}
.ul .li:before {
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter;
}